<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Sunil's todo app</title>
</head>
<body>
<h1>Welcome to Sunil's todo APP</h1>
<h2>Add your to-do items</h2>
<ul>
    {% for items in all_items %}
      <li>{{items.content}}
          <form action="/deleteTodo/{{items.id}}/" method="post" style="display:inline;">{% csrf_token %}
             <input type="submit" value="Delete">
          </form>
      </li>
    {% endfor %}
</ul>
<form action="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">

</form>

</body>
</html>